<footer id="footer">
    <div id="footer-left">
        <strong>&copy; 2025 Paweł Gomoliński</strong>
    </div>
    <div id="footer-right">
        <a href="/">Privacy policy</a>
    </div>
</footer>