<header id="header">
    <div id="header-left">
        <a href="/">
            <%- include('./svg_logo.ejs') %>
            Home</a> | 
        <a href="/about">About</a> | 
        <a href="/contact">Contact</a>
    </div>
    <div id="header-right">
        <% if(isLogged){ %>
        Playing as <strong><%= username %></strong> | 
        <a href="/logout">Logout</a>
        <% } %>
</header>