<header id="header">
    <div id="header-left">
        <a href="/">Home</a> | 
        <a href="/">About</a> | 
        <a href="/">Contact</a>
    </div>
    <div id="header-right">
        <% if(isLogged){ %>
        Playing as <strong><%= username %></strong> | 
        <a href="/logout">Logout</a>
        <% } %>
</header>