<header id="header">
    <div id="header-left">
        <a href="/">
            <img src="img\logo.svg" style="height: 4em; position: fixed; top: 1px; padding: 0;">
            Home</a> | 
        <a href="/about">About</a> | 
        <a href="/contact">Contact</a>
    </div>
    <div id="header-right">
        <% if(isLogged){ %>
        Welcome, <strong><%= username %></strong> | 
        <a href="./game">Play the game</a> | 
        <a href="/logout">Logout</a>
        <% }else{ %>
        <a href="./login">Log in</a> | 
        <a href="./register">Register</a>
        <% } %>
    </div>
</header>