body{
    background-color: #006e56;
    font-family: monospace;
    text-align: center;
    padding-top: 10vh;
}

#ctx{
    border: none;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 50px;

    /* filter: invert(1) hue-rotate(180deg); */

}

#header{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #006e56;
    padding: 10px 0;

}

input{
    text-align: center;
    max-width: 8ch;
}

input, button{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    padding: 5px;

    font-family: monospace;
}

label{
    font-weight: bold;
}

button:hover{
    background: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

#sound-btn{
    display: inline-block;
}

#errorMsg{
    font-weight: bold;
    background-color: red;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
}

a{
    color: #ffd900;
}

a:hover{
    color: #a68700;
    filter: brightness(2);
    font-weight: bold;
}

form{
    background-color: #006e56;

    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

#chat{
    /* display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: normal;
    align-content: space-between;
    flex-wrap: wrap; */


    padding: 10px;

    position: absolute;
    right: 10px;
    bottom: 10px;

    width:200px;
    height: fit-content;
    max-height: 300px;
    background-color: #ffd90088;
    backdrop-filter: blur(5px) saturate(2) contrast(0.8);
}



#chat-content{
    text-align: left;
    padding: 10px;
    overflow-y: scroll;
    max-height: 230px;
}

#chat-input{
    min-width: 140px;
    max-width: 140px;
    font-size: smaller;
}

#chat-send-btn{
    width: 40px;
}

#notes{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;

    background-color: transparent;
    backdrop-filter: blur(5px) saturate(2) contrast(0.8);
}

.note{
    height: 60px;
    width: 30px;
    margin: 1px;
    background-color: white;
    color: black;
}



.note.blk{
    background-color: black;
    color: white;

    position: relative;
    height: 30px;
    bottom: 15px;
    margin: 0 -20px 0 -20px;
}

.note:hover{
    color: #ffd900;
    background-color: #a68700;
}

.note.active{
    color: #006e56;
    background-color: #00daaa;
    font-weight: bold;
}