<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- include('./partials/main_title.ejs') %> – Contact
    </title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/pageUI.js" defer></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div id="main">
        <div id="pageContent">
            <h1>Contact</h1>
            Contact info: .......
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>



