<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>

    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> 
    <script src="https://unpkg.com/tone"></script> 
    <script src="js/main.js" type="module" defer>
    </script>
</head>
<body>
    <%- include('./partials/gameHeader.ejs') %>

    <div id="game">
        <canvas id="ctx" width="1000" height="1000"></canvas>
    </div>
    <div id="chat">
        <label>chat:</label>
        <div id="chat-content"></div>
        <input type="text" id="chat-input" placeholder="press T to start typing">
        <button id="chat-send-btn">send</button>
    </div>

    <form id="notes" onsubmit="return false">
        <label id="scaleLabel">SCALE NAME</label>
        <label id="weaponTypeLabel">WEAPON TYPE</label>
        <label id="durationLabel">DURATION</label><br><br>
        <button class="note" data-note="C">C</button>
        <button class="note blk" data-note="C#">C#</button>
        <button class="note" data-note="D">D</button>
        <button class="note blk" data-note="D#">D#</button>
        <button class="note" data-note="E">E</button>
        <button class="note" data-note="F">F</button>
        <button class="note blk" data-note="F#">F#</button>
        <button class="note" data-note="G">G</button>
        <button class="note blk" data-note="G#">G#</button>
        <button class="note" data-note="A">A</button>
        <button class="note blk" data-note="A#">A#</button>
        <button class="note" data-note="B">B</button>
    </form>
</body>
</html>



